html {
  --color-primary-10: #ff0000;
  --color-primary-05: #e9915d;
  --color-primary-00: #f3c2a5;
  --color-neutral-10: #ffffff;
  --color-neutral-08: #d6d6d6;
  --color-neutral-06: #a3a3a3;
  --color-neutral-04: #858585;
  --color-neutral-02: #525252;
  --color-neutral-00: #292929;
  --masthead-top-height: 50px;
}
html[data-theme='dark'] {
  --color-primary-10: #ff0000;
  --color-primary-05: #e9915d;
  --color-primary-00: #f3c2a5;
}
